<!-- <div class="logo"><img ng-src="../assets/logo.svg" alt="London Beer Space" class="logo" type="image/svg+xml">
</div> -->

<p class="lead text-center col-md-offset-1">Hey there! Welcome to London Beer Space, the new home for all the latest scoop on craft beer events in London. If you've found your way here, you're probably one of our very super-special alpha testers—thanks for your help. (If that's not you, it is now, so get cracking!)</p>
<p class="col-md-offset-1 text-center">You don't need to be logged in to see <a href="#" ui-sref="eventsIndex">all the great events</a> on our list. To add an event of your own, just <a href="#" ui-sref="register">create an account</a> or <a href="#" ui-sref="login">log in</a> with your Facebook or Twitter account (we won't use your personal information for any reason, or share it with anyone else). You can also read about some of the <a href="#" ui-sref="about">cool new features</a> we plan to roll out, or <a href="#" ui-sref="contact">drop us a line</a> with your feedback. Thanks for visiting, and we hope you'll come back soon.</p>
<div class="row">
  <div class="col-md-offset-1 col-lg-offset-2 col-sm-offset-3 col-xs-offset-1">
    <div ui-sref="eventsIndex" class="homepage cantillon"><div class="shading">View Events</div></div>
    <div ui-sref="createEvent" class="homepage flight"><div class="shading">Add An Event</div></div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-offset-2">
    <div class="homepage homebrew"><div class="shading"></div></div>
    <div class="homepage study"><div class="shading"></div></div>
  </div>
</div> -->
