<div class="container" ng-controller="CreateEventsController as createEvent">
  <h1 class="text-center">Add An Event</h1>

  <form ng-submit="createEvent.save()" name="createEvent.form" ng-controller="DateTimeController" novalidate>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <label for="title">Title:</label>
      <div>
        <input class="form-control" type="text" name="title" ng-model="createEvent.new.title" placeholder="Title" ng-focus="register.form.username.$setUntouched()" required>
        <p class="help-block" ng-if="createEvent.form.title.$error.required">Your event needs a title!</p>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <label for="description">Description:</label>
      <div>
        <textarea class="form-control" rows="5" type="text" name="description" ng-model="createEvent.new.description" placeholder="Description" required></textarea>
        <p class="help-block" ng-if="createEvent.form.description.$error.required">Doesn't need to be long, but we need a description.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="datetimepicker">Date and time:</label>
      <div>
        <datetimepicker 
        ng-model="createEvent.new.date"
        hour-step="hourStep" 
        minute-step="minuteStep"
        date-format="{{format}}" 
        show-meridian="false" 
        date-options="dateOptions"
        date-disabled="disabled(date, mode)" 
        datepicker-append-to-body="false"
        name="datetimepicker"
        show-spinners="true"
        readonly-time="false"
        date-opened="dateOpened"
        show-button-bar="false"
        required
        >
        </datetimepicker>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <label for="location">Location:</label>
      <div>
        <input class="form-control" autocomplete options="{ country: 'gb', watchEnter: true }" type="text" name="location" ng-model="createEvent.new.location" placeholder="Location" required>
        <p class="help-block" ng-if="createEvent.form.location.$error.required">Please include a location</p>
      </div>
    </div>

    <div class="form-group" show-errors="{ trigger: 'change' }">
      <label for="image">Image:</label>
      <div>
        <input class="form-control" type="file" file name="image" ng-model="createEvent.new.image" ng-size="1024">
        <p class="help-block" ng-if="createEvent.form.image.$error.size">Image is too large</p>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <label for="registrationUrl">Registration:</label>
      <div>
        <input class="form-control" type="text" name="registrationUrl" ng-model="createEvent.new.registrationUrl" placeholder="Register or RSVP link (optional)" ng-pattern="/^http/">
        <p class="help-block" ng-if="createEvent.form.registrationUrl.$error.pattern">Please enter a valid URL</p>
      </div>
    </div>

    <!-- Add checkbox selectors for various types of events (will require a new data model in the API, probably?) -->
    <!-- <input type="checkboxes" name="type" ng-model="events.new.types"> -->
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </form>
</div>
