<img  class="img-responsive pull-left event-feature" ng-src="{{ showEvent.selected.image }}" alt="event image" onerror="this.style.display='none'"">

<div ng-resource="event in events">
  <h1 class="event-title">{{ showEvent.selected.title }}</h1>
  <h4>{{ showEvent.selected.date | date: 'EEEE, dd MMMM yyyy, h:mm a' }}</h4>
  <p>{{ showEvent.selected.description }} </p>
  <h5>{{ showEvent.selected.location }} </h5>

  <a ui-sref="updateEvent({ id: showEvent.selected._id })">Update this event</a>  |  

  <a href="#" ng-click="showEvent.delete()">Delete this event</a>
</div>