<img class="img-responsive pull-left event-feature" ng-src="{{ showEvent.selected.image }}" alt="event image" ng-if="showEvent.hasImage" onerror="this.style.display='none'"">


<div ng-resource="event in events">
  <h4 class="event-date secondary-light text-uppercase">{{ showEvent.selected.date | date: 'EEE dd MMMM yyyy, h:mm a' }}</h4>

  <h1 class="event-title">{{ showEvent.selected.title }}</h1>
  <p class="lead">{{ showEvent.selected.description }} </p>
<!--   <p ng-if="showEvent.selected.registrationUrl"><a ng-href="{{ showEvent.selected.registrationUrl }}">Register for this event</a></p> -->
  <address>{{ showEvent.selected.venue }} <br>{{ showEvent.selected.location }} </address>

  <p ng-show="showEvent.canEdit">
    <a ui-sref="updateEvent({ id: showEvent.selected._id })">Update this event</a>  |  
    <a href="#" ng-click="showEvent.delete()">Delete this event</a>
  </p>
  
  <p><a ng-href="{{ showEvent.ical }}">Apple iCal</a>  |  <a ng-href="{{ showEvent.gcal }}">Google</a>  |  <a ng-href="{{ showEvent.outlook }}">Outlook</a>  |  <a ng-href="{{ showEvent.yahoo }}">Yahoo</a></p>

</div>
<!-- hide map until location is clicked -->

<!--   <div ng-controller="MapsController as maps">
    <g-map ng-repeat="map in maps.all" center="map.center"></g-map>
  </div> -->


</div>
